<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl as App">
    <head>
        <meta charset="utf-8">
        <title>Veridu AngularJS SDK</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <style media="screen">
            pre.inverse {
                background-color: #333;
                color: white;
                border-color: black;
            }
            body {
                padding-bottom: 30em;
            }
            * {
                border-radius: 0px !important;
            }
        </style>
    </head>
    <body class="container">

        <br>
        <br>

        <h1>Veridu SDK <small>Angular JS</small></h1>

        <h2>Initialization</h2>

        <br>

<pre class="inverse">
var app = angular.module('app', [
    'veridu.angularjs.sdk'
]);

app.config(function (VeriduProvider) {
    VeriduProvider.client = 'YOUR_CLIENT_ID';
    VeriduProvider.user = 'YOUR_USERNAME';
    VeriduProvider.session = 'YOUR_VERIDU_SESSION';
});

AppCtrl.$inject = ['$scope', 'Veridu'];
function AppCtrl($scope, Veridu) {

    // use it
    // this page is a use case, check its source!
}
</pre>
        <br>
        <h2>API module <small>Veridu.API</small></h2>
        <p>
            Endpoints: <a href="https://veridu.com/wiki/Category:Endpoint" target="_blank">https://veridu.com/wiki/Category:Endpoint</a>
        </p>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-primary btn-lg" id="facebook" ng-click="App.Veridu.Widget.login('facebook')">Facebook</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-primary btn-lg" ng-click="App.Veridu.Widget.login('twitter')">Twitter</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-primary btn-lg" ng-click="App.Veridu.Widget.login('paypal')">Paypal</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-primary btn-lg" ng-click="App.Veridu.Widget.login('linkedin')">LinkedIn</button>
            </div>
        </div>

        <br>
        <h4>Veridu.logout <small>Logs out</small></h4>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-danger btn-lg" ng-click="App.Veridu.logout()">Logout</button>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3>Profile</h3>
                    <h4><code>GET https://api.veridu.com/{{App.Veridu.cfg.API_VERSION}}/profile/$username/</code></h4>
                    <pre class="inverse">Veridu.API.fetch('GET', 'profile/' + Veridu.cfg.user);</pre>
                    <button class="btn btn-success" id="profile-button" type="button" ng-click="App.getProfile()">GET Profile &nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span> </button>
                    <h5>Response</h5>
                    <pre style="white-space:pre-wrap">{{ App.profile | json}}</pre>
                    <span  ng-model="App.profile"></span>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="well">
                    <h3>Facts</h3>
                    <h4><code>GET https://api.veridu.com/{{App.Veridu.cfg.API_VERSION}}/facts/$username/</code></h4>
                    <pre class="inverse">Veridu.API.fetch('GET', 'facts/' + Veridu.cfg.user);</pre>
                    <button class="btn btn-success" type="button" ng-click="App.getFacts()">GET Facts &nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span> </button>
                    <h5>Response</h5>
                    <pre style="white-space:pre-wrap">{{App.facts | json}}</pre>
                </div>
            </div>

        </div>

        <h2>SSO Module <small>Veridu.SSO</small></h2>
        <hr>
        <h4>Veridu.SSO.login <small>Sign in using a provider</small></h4>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-primary btn-lg" id="facebook" ng-click="App.Veridu.SSO.login('facebook')">Facebook</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-primary btn-lg" ng-click="App.Veridu.SSO.login('twitter')">Twitter</button>
            </div>
        </div>

        <br>
        <h4>Veridu.logout <small>Logs out</small></h4>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn  btn-block btn-danger btn-lg" ng-click="App.Veridu.logout()">Logout</button>
            </div>
        </div>
        <br>
            <pre>{{App.Veridu | json}}</pre>
        <br>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js" charset="utf-8"></script>
        <script src="veridu-angularjs-sdk.js" charset="utf-8"></script>

        <script type="text/javascript">

            var app = angular.module('app', [
                'veridu.angularjs.sdk'
            ]);

            app.config(function (VeriduProvider) {
                VeriduProvider.client = 'demo';
                VeriduProvider.API_VERSION = 'rafael';
            });

            app.controller('AppCtrl', AppCtrl);
            AppCtrl.$inject = ['$scope', 'Veridu'];
            function AppCtrl($scope, Veridu) {
                var vm = this;
                vm.Veridu = Veridu;

                if (! Veridu.cfg)
                    window.alert('You need to configure your Veridu credentials on the source code of this page, Line 111, 112 and 113');

                this.getProfile = function () {
                    Veridu.API.fetch('GET', 'profile/' + Veridu.cfg.user).then(
                        function success(response) {
                            vm.profile = response.data;
                        },
                        function error() {
                            vm.profile = 'Error fetchng the API'
                        }
                    );
                };

                this.getFacts = function () {
                    Veridu.API.fetch('GET', 'facts/' + Veridu.cfg.user).then(
                        function success(response) {
                            vm.facts = response.data;
                        },
                        function error() {
                            vm.facts = 'Error fetching the API';
                        }
                    );
                };

                window.SDK = Veridu;

            }

        </script>
    </body>
</html>
